body {
    background-color: black;
    color: lightgrey;
    margin: 0px 150px;
}


h1 {
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
}

#firstSprite {
    width: 94px;
    height: 60px;
    object-fit: none;
    object-position: -27px -110px;

    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#secondSprite {
    width: 150px;
    height: 60px;
    object-fit: none;
    object-position: 0px -10px;
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translate(-60%, 0);
}

#bullet {
    width: 4px;
    height: 18px;
    object-fit: none;
    object-position: -409px -353px;
    /* left/right to top/bottom */
    position: absolute;
    left: 421px;
    bottom: 62px;
    visibility: hidden;
}

#enemyBullet {
    width: 4px;
    height: 18px;
    object-fit: none;
    object-position: -409px -353px;
    /* left/right to top/bottom */
    position: absolute;
    left: 755px;
    top: 206px;
    visibility: hidden;
}

.front_enemies {
    display: flex;
    flex-direction: column;

}  

.first_line_enemies,
.second_line_enemies {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.line__one__pic,
.line__second__pic {
    position: relative;
    width: 6.2%;
    height: 66px;
    object-fit: none;
}

.line__one__pic {
    top: 100px;
    left: 90px;
    object-position: -399px -477px;

}

.line__second__pic {
    top: 140px;
    left: 90px;
    object-position: -499px -477px;

}

.lives {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-right: 70px;
}

.livesImg {
    width: 28px;
    height: 17px;
    object-fit: none;
    object-position: -276px -229px;
}
.enemyLivesCount,
.livesCount {
    position: relative;
    top: 2px;
}

.enemyLiveImg {
    width: 48px;
    height: 17px;
    object-fit: none;
    object-position: -218px -229px;
}

.winGame,
.lostGame {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.lostGame {
    background-color: red;
}

.winGame {
    background-color: rgb(205, 246, 158);
}

.winGame h1 {
    font-size: 70px;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lostGame h1 {
    font-size: 70px;
    background: #FCEABB;
    background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none; 
}