body {
    background-color: black;
    color: lightgrey;
    margin: 0px 150px;
}

h1 {
    justify-content: center;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
}


/* .box {
    height: 250px;
    width: 300px;
    background: url(../assets/spriteSheet.jpg);
    object-fit: none;

    object-position: 300px 425px;
} */

.box {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0%);
}

#firstSprite {
    width:94px;
    height: 60px;
    object-fit:none;
    object-position:-27px -110px;

    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0%);
}

#secondSprite {
    width:150px;
    height: 60px;
    object-fit:none;
    object-position: 0px -10px;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-60%,0);
}

#bullet { 
    width:4px;
    height: 18px;
    object-fit:none;
    object-position: -409px -353px; /* left/right to top/bottom */
    position: absolute;
    left: 421px;
    bottom: 62px;
    visibility: hidden;
}
/* img {
    width: 150px;
    height: 80px;
    
    object-fit: none;
    background-color: red;
}

#firstSprite {
    object-position: 0px -100px;
} */